/wappalyzer/build/*
/wappalyzer/src/drivers/**/technologies.json
/wappalyzer/src/drivers/**/wappalyzer.js
/wappalyzer/src/drivers/webextension/images/icons/converted/*

/wappalyzer/node_modules
/wappalyzer/package-lock.json

!.gitkeep

Thumbs.db
Desktop.ini
*.DS_Store
*.log
._*
tags
tags.*
.idea
/nbproject/private/
